<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="|${duration} 매출액 폼|">매출액 폼</title>
</head>
<body>
<h2 th:text="|${duration} 매출액 폼|">매출액 폼</h2>
<form action="/stat/income" th:action th:object="${statCreateDto}" method="post">

    <div>
        <p>날짜 선택</p>
        <input th:if="${duration} == 'date'" type="date" th:field="*{startDate}" th:value="${statCreateDto.startDate}">
        <input th:if="${duration} == 'week'" type="date" th:field="*{startDate}" th:value="${statCreateDto.startDate}">
        <input th:if="${duration} == 'month'" type="month" th:field="*{startDate}" th:value="${statCreateDto.startDate}">
    </div>

    <input type="submit" value="submit"/>
</form>

<button onclick="location.href='/'">go home</button>

</body>
</html>
